<a href="https://colab.research.google.com/github/ataikh/CMU_TypingDataset/blob/main/CMUFree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CMU Free vs. Transcribed Text
20 users free and transcribed text: https://vmonaco.com/datasets/

In [ ]:
#@title Importing Packages
import pandas as pd

In [ ]:
#@title Mounting Google Drive
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#@title Importing the Data File
#At this point, open the dataset in google sheets or something and download as a pdf.
CMUF = pd.read_csv('/content/gdrive/MyDrive/Research/Typing Projects/Typing Public Dataset/CMUFree/CMUF.csv')

In [ ]:
#@title Getting Information on Dataset
type(CMUF) #what kind of data is this?
#get summary about data frame currently active
CMUF.info()
#get subset of the dataset to see what it looks like
CMUF[:5]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158433 entries, 0 to 158432
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   subject       158433 non-null  object
 1   sessionIndex  158433 non-null  int64
 2   screenIndex   158433 non-null  int64
 3   index         158433 non-null  int64
 4   key1          158433 non-null  object
 5   key2          158433 non-null  object
 6   time          158433 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 8.5+ MB

  subject  sessionIndex  screenIndex  index     key1     key2    time
0    s019             1            3      1    Shift  Shift.t  0.2330
1    s019             1            3      2  Shift.t        h  0.3116
2    s019             1            3      3        h        e  0.1392
3    s019             1            3      4        e    space  0.0811
4    s019             1            3      5    space        s  0.2738

In [ ]:
#@title Generating Dataset with Words
# Create an empty DataFrame to store the transformed data
CMUW = pd.DataFrame(columns=['subject', 'screenIndex', 'word', 'key_presses'])

# Initialize an empty list to store key presses for each word
key_presses = []

# Iterate over each row in the data
for index, row in CMUF.iterrows():
    # If the current key press is a space, add the current word and its key presses to the transformed data
    if row['key2'] == 'space':
        word = ''.join(key_presses)
        CMUW = pd.concat([CMUW, pd.DataFrame({'subject': [row['subject']], 'screenIndex': [row['screenIndex']], 'word': [word], 'key_presses': [key_presses]})], ignore_index=True)
        key_presses = []
    else:
        # Add the current key press to the list of key presses for the current word
        key_presses.append(row['key2'])

# Add the last word and its key presses to the transformed data
word = ''.join(key_presses)
CMUW = pd.concat([CMUW, pd.DataFrame({'subject': [row['subject']], 'screenIndex': [row['screenIndex']], 'word': [word], 'key_presses': [key_presses]})], ignore_index=True)

# Display the transformed data
type(CMUW) #what kind of data is this?
#get summary about data frame currently active
CMUW.info()
#get subset of the dataset to see what it looks like
CMUW[:5]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28376 entries, 0 to 28375
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subject      28376 non-null  object
 1   screenIndex  28376 non-null  object
 2   word         28376 non-null  object
 3   key_presses  28376 non-null  object
dtypes: object(4)
memory usage: 886.9+ KB

  subject screenIndex       word      key_presses
0    s019           3  Shift.the  [Shift.t, h, e]
1    s019           3      scene  [s, c, e, n, e]
2    s019           3      lokos  [l, o, k, o, s]
3    s019           3       like     [l, i, k, e]
4    s019           3         it           [i, t]